<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trolla.healthsdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcommerceAggregatorHealthCare"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui_utils.WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".feature_productdetails.presentation.FullscreenImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".feature_dashboard.presentation.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".feature_onboarding.presentation.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".feature_auth.presentation.AuthenticationActivity"
            android:exported="false" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_96LO0xMVkNAHYW" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
    </application>

</manifest>